:root {
    --cor-primaria: #333;
    --cor-secundaria: #ccc;
    --cor-terciaria: #ddd;
    --cor-texto-primaria: #fff;
    --cor-texto-secundaria: #333;
    --cor-hover: #f5f5f5;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
   
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-primaria);
    padding: 20px;
}

.box-header {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 32px;
}

main {
    padding: 20px;
}

#btn-containers {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn-sort {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundaria);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-sort:hover {
    background-color: var(--cor-terciaria);
}

#tabela-tarefas {
    width: 100%;
    border-collapse: collapse;
}

#tabela-tarefas th {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-primaria);
    padding: 10px;
    text-align: left;
    border: 1px solid var(--cor-terciaria);
}

#tabela-tarefas td {
    padding: 10px;
    border: 1px solid var(--cor-terciaria);
}

#tabela-tarefas tbody tr:hover {
    background-color: var(--cor-hover);
}
